Repository datapartnership/turkiye-earthquake-impact, pull requests merged in 2023-03, with the labels that each got.

#9 Add preliminary displacement maps
  docs/_toc.yml
  notebooks/mobility/README.md
  reports/turkiye-earthquake-strategic-brief.md
Labels: population-displacement

#14 business activity trends update
  docs/_toc.yml
  notebooks/business-activity-trends/01-business-activity-trends.ipynb
  notebooks/business-activity-trends/README.md
Labels: business-activity

#12 Ntl
  notebooks/nighttime-lights/02_download_black_marble.R
  notebooks/nighttime-lights/03_aggregate.R
  notebooks/nighttime-lights/04_append.R
  notebooks/nighttime-lights/05_avg_ntl_by_period.R
  notebooks/nighttime-lights/05_map_ntl_annual.R
  notebooks/nighttime-lights/05_maps_ntl_changes.R
  notebooks/nighttime-lights/README.md
  notebooks/nighttime-lights/_main.R
Labels: duplicate, nightlight-lights

#16 changing descriptions and data products summary
  docs/foundational_datasets_and_data_products.md
Labels: documentation
